<?php
/**
 * Constants defined here outside of class because class constants can't be
 * the result of any operation (concatenation)
 */
define('PHPTVDB_URL', 'http://thetvdb.com');
define('PHPTVDB_API_KEY', '');
